body {
	font-family: helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	background-color: #24244C;
	color: white;
	margin:1rem 2rem 1rem 2rem;
}

.btn {
	background-color: transparent;
	display: block;
	color: white;
	border-radius: 0;
	border: 3px solid white;
  padding: 1rem;
  line-height: 1.3;
  font-size: 1.3125rem;
}

.btn:hover {
    background-color: #FF4D67;
}

.in {
	width: 25rem;
}

.input-group {
	display: flex;
  margin-bottom: 0.5rem;
}

#password {
    outline: none;
    margin-right: 1rem;
    border-radius: 0;
    caret-color: #ff4d67;
    display: block;
    -webkit-transition: background-color 0.175s ease-in-out;
    transition: background-color 0.175s ease-in-out;
    padding: 0.5787rem;
    font-size: 1rem;
		flex-grow: 1;
}

#tls-warning {
    font-size: 2rem;
    background: #FF4D67;
    padding: 2rem;
    font-weight: bold;
}
